<h1>Say#goodbye</h1>
<h1>Goodbye from Rails </h1>
<p>It is now: <%= Time.now %></p>
<p>That time is what time it is on the server!</p>

<h2>Let's play a little</h2>
<ul>
<li>Can Ruby Add? 1 + 2 = <%= 1 + 2 %></li>
<li>Can the server tell me what files are stored there?
<ul><li><%= Dir.glob('*').join(', ') %></li></ul>
<li>And what about the time in 1 hour? <%= 1.hour.from_now.localtime %></li>
<ul>

