<h1>hello</h1>
<h1>Hello from Rails!</h1>
<p>The controller says that it is now: <%= @time %></p>
<p>The controller says that the name is: <%= @name %></p>

<h2>Want to leave already?<p>
<p>Click <%= link_to "Goodbye Page", say_goodbye_path %>
